<div id="wrapper" class="container">
  <!-- Header -->
  <div class="row">
    <header id="headerContent">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <span id="ai_logo center">
          <img src="../assets/images/AIANR_Logo.jpg">
        </span>
      </div>
    </header>
  </div>
  <!-- //Header -->
  <!-- Content -->
  <div class="row" id="faq_content">

    <!-- inner page-->
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10">
      <div class="section-body">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
  </div>
  <!-- // Content -->
  <div class="row" id="footer">
    <footer>
      <div id="footer_area">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <p>© AIANR </p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <ul id="footer_links" class="pull-right hidden-xs">
            <li>
              <a href="" target="_blank">Privacy Statement</a>
            </li>
            <li>
              <a href="" target="_blank">Disclosure</a>
            </li>
            <li>
              <a href="" target="_blank">Terms of Service (Terms &amp; Conditions)</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
